[alias]
	alias = config --get-regexp alias
	cfg = config --edit --global

	s = status
	bl = branch --all --verbose
	#bl = show-branch -a
	untracked = "!git ls-files . --ignored --exclude-standard --others | grep -v -e venv/ -e .pyc | grep -v -P \\.o$ | grep -v -P ^build | grep -v -P \\.exe$"

	d = difftool
	g = cola
	l = "!gitk"

	pr = pull --rebase
	#locally delete remotely deleted branches
	fp = fetch -p
	co = checkout

	rst = reset --hard
	forget = rm --cached

	ada = add --all

	c = commit
	ca = commit --all
	pu = push --set-upstream

	b = branch
	bc = checkout -b  #create and switch to a branch
	bldel = branch -D
	brdel = push --delete origin
	badel = !sh -c 'git bldel $1 && git brdel $1' -
	sq = merge --squash
[color]
	ui = true
[user]
	name = Philipp Saveliev
	email = fsfeel@gmail.com
[core]
	editor = nano
	pager = less
	autocrlf = false
[diff]
	tool = meld
[difftool]
	prompt = false
[push]
	default = current  #http://stackoverflow.com/questions/948354/git-push-default-behavior#comment8930472_948397
