[alias]
	alias = config --get-regexp alias
	cfg = config --edit --global

	s = status
	bl = branch --all --verbose
	#bl = show-branch -a

	d = difftool
	g = cola
	l = "!gitk"

	pr = pull --rebase
	co = checkout

	rst = reset --hard
	forget = rm --cached

	adda = add --all

	c = commit
	ca = commit --all

	b = branch
	bc = checkout -b  #create and switch to a branch
	bldel = branch -D
	brdel = push --delete origin
	sq = merge --squash
[color]
	ui = true
[user]
	name = Philipp Saveliev
	email = fsfeel@gmail.com
[core]
	editor = nano
	pager = less
	autocrlf = false
[diff]
	tool = meld
[difftool]
	prompt = false
